@import "../../lib/fonts/hackathon-d16e343c1e06aa84a00ca8bc9ecbccea/font/_flaticon.scss";

/// Mixin printing a linear-gradient
/// as well as a plain color fallback
/// and the `-webkit-` prefixed declaration
/// @access public
/// @param {Keyword | Angle} $direction - Linear gradient direction
/// @param {Arglist} $color-stops - List of color-stops composing the gradient
@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

.hero-header{
  color: black;
  background-color: #CCC;
  @include linear-gradient(45deg, whitesmoke, #64ADDB);
    .logo{
        max-width: 300px;
    }
}
.white-txt{

    border: 2px solid transparent;
    &:hover, &:focus, &:active, &:visited{
        color: #ffffff;
    }
    transition: all ease 1s;
    &:hover{
        border: 2px solid #dd5138;
        background-color: #016cc7;
    }
}
.wpcf7-form{
    input[type="text"]{
        width: 100%;
    }
}

.whyItsSuperCool i {
    font-size: 5em;
    color: #016cc7;
}

.twitter-timeline {
    height: 325px !important;
}

ul.footer-menu li {
    a {
        img {
            height: 50px;
        }
    }
}

.slides{
    .slide{
        background: #DADADA;
        img{
            width: 100%;
            height: auto;
            float: left;
        }
    }
    .owl-controls{
        display: none;;
    }
}